
.mobile-nav {
  background: #fff;
  border-top: 1px solid #c4c4c4;
  position: -webkit-sticky;
  position: sticky;
  z-index: 1040;
  bottom: 0;
}

.mobile-nav .nav {
  width: 100%;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.mobile-nav .nav-link {
  color: #566a7f;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
  padding: 0.75rem .25rem;
  position: relative;
  font-size: 1.5rem;
}

.mobile-nav .nav-link img {
  height: 24px;
  margin-bottom: 0.5rem;
}

.mobile-nav .nav-link span.menu-title {
  font-size: 0.75rem;
  font-weight: 500;
}

.mobile-nav .nav-link .badge-cart {
  top: 0.7rem;
  right: 1.3rem;
}